.card {
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.horizontal {
    grid-row: span 1;
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
    grid-column: span 1;
}

.square {
    grid-row: span 1;
    grid-column: span 1;
}

.template {
    display: flex;
    place-items: center;
    justify-content: center;
    border: 2px solid #999;
    border-radius: 8px;
}